@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

/* Color */
/* Font Size */
/* Padding */
/* Margin */
/* Border radius */
/* line-height */
/* button fancy */
.btn, .btn-primary, .btn-secondary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link, .btn-small, .btn-large, .btn-flat, .btn-lg, .btn-fancy, .btn-mixxin-variant, .bt-mixin-color {
  width: auto;
  text-align: center;
  color: white;
  background-color: #b3b3b3;
  font-size: 16px;
  padding: 10px 50px;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 8px 8px 8px 8px; }
  .btn:active, .btn-primary:active, .btn-secondary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-link:active, .btn-small:active, .btn-large:active, .btn-flat:active, .btn-lg:active, .btn-fancy:active, .btn-mixxin-variant:active, .bt-mixin-color:active {
    background-color: #8c8c8c; }

/* Différent boutons */
.btn-primary {
  background-color: #1E90FF; }
  .btn-primary:active {
    background-color: #337ab7; }

.btn-secondary {
  background-color: #1a1aff; }
  .btn-secondary:active {
    background-color: #0000b3; }

.btn-success {
  background-color: #5cb85c; }
  .btn-success:active {
    background-color: #3e8e3e; }

.btn-info {
  background-color: #5bc0de; }
  .btn-info:active {
    background-color: #279bbe; }

.btn-warning {
  background-color: #f0ad4e; }
  .btn-warning:active {
    background-color: #d38312;
    color: white; }

.btn-danger {
  background-color: #d9534f; }
  .btn-danger:active {
    background-color: #a72925; }

.btn-link {
  background-color: #9900ff; }
  .btn-link:active {
    background-color: #6b00b3; }

/* Taille des boutons */
.btn-small {
  line-height: 0.1;
  padding: 0.5rem 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.btn-large {
  line-height: 0, 6;
  padding: 1.5rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

/* Apparence des boutons */
.btn-flat {
  border: 0;
  border-radius: 0px;
  margin-left: -5px; }

.btn-lg {
  width: 100%; }

.btn-fancy {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(#555, #b3b3b3);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.4); }
  .btn-fancy:hover {
    background: linear-gradient(#777, #333); }
  .btn-fancy:active {
    background: linear-gradient(#555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba(255, 255, 255, 0.4); }

.btn-mixxin-variant {
  color: white;
  background-color: #b3b3b3;
  border-color: #b3b3b3; }
  .btn-mixxin-variant:hover {
    color: white;
    background-color: #9a9a9a;
    border-color: #949494; }
  .btn-mixxin-variant:focus {
    color: white;
    background-color: #858585;
    border-color: #6c6c6c; }
  .btn-mixxin-variant:active {
    color: white;
    background-color: #9a9a9a;
    border-color: #949494; }

.bt-mixin-color {
  color: white;
  background-color: #b3b3b3;
  border-color: white; }
  .bt-mixin-color:hover {
    color: white;
    background-color: #e6e6e6;
    border-color: white; }
  .bt-mixin-color:focus {
    color: white;
    background-color: #d1d1d1;
    border-color: #b8b8b8; }
  .bt-mixin-color:active {
    color: white;
    background-color: #e6e6e6;
    border-color: #e0e0e0; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

table {
  box-sizing: border-box;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px; }
  table th {
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd; }
  table tr, table td {
    padding: 15px;
    border: 1px solid #ddd; }

.table-striped tr:nth-child(2n+2) {
  background-color: #F5F5DC; }

.table-selected {
  background-color: #555;
  color: white; }

.table-hover td:hover {
  background-color: #C0C0C0;
  color: black; }

.alert, .alert-default, .alert-primary, .alert-success, .alert-info, .alert-warning, .alert-danger {
  width: 100%;
  height: auto;
  display: block;
  color: white;
  padding: 1.5em;
  font-weight: bold; }

.alert-default {
  background-color: #b3b3b3; }

.alert-primary {
  background-color: #1E90FF; }

.alert-success {
  background-color: #5cb85c; }

.alert-info {
  background-color: #5bc0de; }

.alert-warning {
  background-color: #f0ad4e; }

.alert-danger {
  background-color: #d9534f; }

.header {
  height: auto;
  border: 1px solid #b3b3b3;
  width: 100%;
  display: inline-flex;
  padding: 1em; }
  .header p, .header ul, .header li, .header img, .header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
    padding: 10px; }
  .header h1, .header h2, .header h3, .header h4, .header h5, .header h6 {
    text-align: center; }

.jumbotron {
  height: auto;
  width: 100%;
  background-color: #d9d9d9;
  border: 1px solid #8c8c8c;
  display: block;
  padding: 1em; }
  .jumbotron title, .jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6 {
    line-height: 3; }

.active {
  font-weight: bold; }

.disabled {
  cursor: default;
  pointer-events: none; }

.separator {
  height: 40px;
  width: 2px;
  margin: auto 5px;
  overflow: hidden;
  background-color: #DDD;
  border-right: 2px solid #FFF; }

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 19px;
  list-style: none;
  background-color: #428bca;
  border-radius: 4px; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li > a {
      color: white;
      text-decoration: none; }
      .breadcrumb > li > a:hover {
        text-decoration: underline; }
    .breadcrumb > li + li:before {
      content: "/ ";
      padding: 0 7px;
      color: black; }

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0; }

ul.pagination li {
  display: inline; }

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 60px;
  transition: background-color .3s;
  border: 1px solid #ddd;
  /* Gray */
  margin: 0 4px; }
  ul.pagination li a:hover:not(.active) {
    background-color: #ddd; }

ul.pagination li a.active {
  background-color: #999999;
  color: white;
  border-radius: 60px; }

.container {
  padding-left: 0.5%;
  padding-right: 0.5%; }

.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 833.33333%; }

.col-offset-2 {
  margin-left: 833.33333%; }

.col-offset-3 {
  margin-left: 833.33333%; }

.col-offset-4 {
  margin-left: 833.33333%; }

.col-offset-5 {
  margin-left: 833.33333%; }

.col-offset-6 {
  margin-left: 833.33333%; }

.col-offset-7 {
  margin-left: 833.33333%; }

.col-offset-8 {
  margin-left: 833.33333%; }

.col-offset-9 {
  margin-left: 833.33333%; }

.col-offset-10 {
  margin-left: 833.33333%; }

.col-offset-11 {
  margin-left: 833.33333%; }

.col-offset-12 {
  margin-left: 833.33333%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 10px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  font-family: 'Open Sans', Verdana, sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

small {
  font-size: 0.8em;
  color: grey; }

.small {
  font-size: 0.8em;
  color: grey; }

p {
  line-height: inherit; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: underline;
  text-decoration-style: dotted; }

blockquote {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "‖";
  font-style: italic; }

blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

code {
  background-color: #1B2426;
  border: 1px solid #ccc;
  color: white;
  display: block;
  padding: 0.5em 10px;
  margin: 1.5em 10px; }

pre {
  padding: 0.5em 10px;
  margin: 1.5em 10px;
  word-wrap: break-word;
  white-space: pre-wrap; }

kbd {
  background-color: #f4f7f8;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  font-size: .85em;
  font-weight: 600;
  opacity: .8;
  line-height: inherit;
  padding: 2px 4px;
  white-space: nowrap; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(26, 26, 26, 0.2), rgba(0, 0, 0, 0.75), rgba(26, 26, 26, 0.2));
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  margin-left: 20px; }

.square {
  list-style-type: square; }

.circle {
  list-style-type: circle; }

.decimal {
  list-style-type: decimal; }

/*# sourceMappingURL=main.css.map */
