@import "mixins/alert";

$v-alert-width: 100%      !default;
$v-alert-height: auto     !default;
$v-alert-display: block   !default;
$v-alert-color: white     !default;
$v-alert-padding: 1.5em   !default;
$v-alert-font-weight: bold!default;


.alert{
  @include alert($v-alert-width, $v-alert-height, $v-alert-display, $v-alert-color, $v-alert-padding, $v-alert-font-weight);
}
.alert-default{
  @extend .alert;
  @include alert-baccolor($brand-default);
}
.alert-primary{
  @extend .alert;
  @include alert-baccolor($brand-primary);
}
.alert-success{
  @extend .alert;
  @include alert-baccolor($brand-success);
}

.alert-info{
  @extend .alert;
  @include alert-baccolor($brand-info);
}
.alert-warning{
  @extend .alert;
  @include alert-baccolor($brand-warning);
}
.alert-danger{
  @extend .alert;
  @include alert-baccolor($brand-danger);
}
