@import "mixins/buttons";

/* Color */
$brand-default: #b3b3b3 !default;
$brand-default-active: #8c8c8c !default;
$brand-color-default: white !default;
$brand-border-radius: 8px 8px 8px 8px !default;

$brand-primary: #1E90FF !default;
$brand-primary-active:#337ab7 !default;

$brand-secondary: #1a1aff !default;
$brand-secondary-active: #0000b3 !default;

$brand-success: #5cb85c !default;
$brand-success-active: #3e8e3e !default;

$brand-info:    #5bc0de !default;
$brand-info-active:  #279bbe !default;

$brand-warning: #f0ad4e !default;
$brand-warning-active:  #d38312 !default;

$brand-danger:  #d9534f !default;
$brand-danger-active:  #a72925 !default;

$brand-link:  #9900ff !default;
$brand-link-active: #6b00b3 !default;

$brand-fanzy-font: Arial,sans-serif !default;
$brand-fanzy-backgrd-hover: linear-gradient( #777, #333) !default;
$brand-fanzy-bckgrd-active: linear-gradient( #555, #2C2C2C)!default;

/* Font Size */
$fz-default: 16px !default;
$fz-small: 0.875rem !default;
$fz-large: 1.25rem !default;

/* Padding */
$pdg-default: 10px 50px !default;

$pdg-small-y:0.5rem !default;
$pdg-small-x:0.25rem !default;
$pdg-small:$pdg-small-x $pdg-small-y !default;

$pdg-large-y: 1.5rem !default;
$pdg-large-x: 0.75rem !default;
$pdg-large: $pdg-large-x $pdg-large-y !default;

/* Margin */
$margin-left: 2% !default;
$margin-right: 2% !default;

/* Border radius */
$border-radius-small: 0.2rem !default;
$border-radius-large: 0.3rem !default;
$border-radius-flat: 0px !default;

/* line-height */
$line-height-small: 0.1 !default;
$line-height-large: 0,6 !default;

/* button fancy */
$backgroud-fancy: linear-gradient( #555, $brand-default) !default;
$text-shadow-fancy: 0px 1px 0px rgba( 255, 255, 255, 0.2) !default;
$box-shadow-fancy: 0 0 5px rgba( 0, 0, 0, 0.5),
          0 -1px 0 rgba( 255, 255, 255, 0.4) !default;
$box-shadow-fancy-active:  1px 1px 10px black inset,
            0 1px 0 rgba( 255, 255, 255, 0.4)!default;



.btn{
  @include button-btn($brand-color-default, $brand-default, $fz-default, $pdg-default, $margin-left, $margin-right, $brand-border-radius,  $brand-default-active);
}

/* Différent boutons */
.btn-primary {
  @extend .btn;

  @include button-color-active($brand-primary, $brand-primary-active);
}

.btn-secondary {
  @extend .btn;

  @include button-color-active($brand-secondary, $brand-secondary-active);
}

.btn-success{
  @extend .btn;

  @include button-color-active($brand-success, $brand-success-active);
}

.btn-info{
  @extend .btn;

  @include button-color-active($brand-info, $brand-info-active);
}

.btn-warning{
  @extend .btn;

  @include button-color-active-color($brand-warning, $brand-warning-active, $brand-color-default);
}

.btn-danger{
  @extend .btn;

  @include button-color-active($brand-danger, $brand-danger-active);
}

.btn-link{
  @extend .btn;

  @include button-color-active($brand-link, $brand-link-active);
}

/* Taille des boutons */
.btn-small{
  @extend .btn;

  @include button-size($pdg-small-x, $pdg-small-y, $fz-small, $border-radius-small, $line-height-small);
}

.btn-large{
  @extend .btn;

  @include button-size($pdg-large-x, $pdg-large-y, $fz-large, $border-radius-large, $line-height-large);
}

/* Apparence des boutons */

.btn-flat{
  @extend .btn;

  @include button-flat(0, 0px, -5px);
}

.btn-lg{
  @extend .btn;

  @include button-lg(98%);
}


.btn-fancy{
  @extend .btn;

  @include button-fancy($brand-fanzy-font, center, $backgroud-fancy, $text-shadow-fancy, $box-shadow-fancy, $brand-fanzy-backgrd-hover, $brand-fanzy-bckgrd-active, $box-shadow-fancy-active);
}

.btn-mixxin-variant{
  @extend .btn;

  @include button-variant ($brand-color-default, $brand-default, $brand-default);
}

.bt-mixin-color {
  @extend .btn;

  @include button-color($brand-color-default);
}
