@import "variables";

.btn{
  width: auto;
  text-align: center;
  background-color: $brand-default;
  font-size: 16px;
  border-radius:8px 8px 8px 8px;
  margin-left:2%;
  margin-right:2%;
  margin-top: 1%;
  padding: 10px 50px;
  color : white;
  &:active{
    background-color: $brand-default-active;
  }
}

/* Différent boutons */

.btn-primary {
  @extend .btn;
  background-color: $brand-primary;

  &:active{
    background-color:$brand-primary-active;
  }
}

.btn-secondary {
  @extend .btn;
  background-color: $brand-secondary;

  &:active{
    background-color: $brand-secondary-active;
  }
}

.btn-success{
  @extend .btn;
  background-color: $brand-success;

  &:active{
    background-color: $brand-success-active;
  }
}

.btn-info{
  @extend .btn;

  background-color: $brand-info;

  &:active{
    background-color: $brand-info-active;
  }
}

.btn-warning{
  @extend .btn;

  background-color:  $brand-warning;

  &:active{
    background-color: 	 $brand-warning-active;
    color: white;
  }

}

.btn-danger{
  @extend .btn;

  background-color: $brand-danger;

  &:active{
    background-color: $brand-danger-active;
  }
}

.btn-link{
  @extend .btn;
  background-color: $brand-link;

  &:active{
    background-color: $brand-link-active;
  }
}
/* Taille des boutons */

.smal{
  @extend .btn;
  line-height: 0,1;

  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.large{
  @extend .btn;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;

}

/* Apparence des boutons */

.flat{
  @extend .btn;

  border: 0;
  border-radius: 0px;
  margin-left: -5px;
}

.lg{
  @extend .btn;

  width: 100%;

}


.fancy{
  @extend .btn;

  font-family: Arial,sans-serif;
  text-align: center;

  background: linear-gradient( #555, $brand-default);
  text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);

  box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
            0 -1px 0 rgba( 255, 255, 255, 0.4);

}
