@import "variables";

.btn{
  width: auto;
  text-align: center;
  background-color: #F2F2F2;
  font-size: 16px;
  border-radius:8px 8px 8px 8px;
  margin-left:2%;
  margin-right:2%;
  margin-top: 2%;
  padding: 10px 50px;
  &:active{
    background-color:#b3b3b3;
  }
}

.btn-primary {
  @extend .btn;
  background-color: $brand-primary;
  color: white;
  &:active{
    background-color:#337ab7;
  }
}

.btn-secondary {
  @extend .btn;
  background-color: #1a1aff;
  color: white;
  &:active{

  }
}

.btn-success{
  @extend .btn;

  &:active{

  }
}

.btn-info{
  @extend .btn;

  &:active{

  }
}

.btn-warning{
  @extend .btn;

  background-color:  #ff9900;
	color: white;

  &:active{
    background-color: 	 #e68a00;
    color: white;
  }

}

.btn-danger{
  @extend .btn;

  background-color: #cc0000;
	color: white;

  &:active{
    background-color: #990000;
  }
}

.btn-link{
  @extend .btn;

  &:active{

  }
}

.btn-lg{
  @extend .btn;

  &:active{

  }
}
