@import "variables";

$jombotron-background-color: #d9d9d9 !default;
$header-border-color: #b3b3b3 !default;
.header {
    height: auto;
    border: 1px solid $header-border-color;
    width: 100%;
    display: inline-flex;
    padding: 1em;
    & p,ul,li,img,h1,h2,h3,h4,h5,h6{
      padding: 10px;
    }
    & h1,h2,h3,h4,h5,h6{
      text-align: center;
    }
}


.jombotron{
  height: auto;
  width: 100%;
  background-color: $jombotron-background-color;
  border: 1px solid $brand-default-active;
  display: block;
  padding: 1em;
  title,h1,h2,h3,h4,h5,h6{
    line-height: 3;
  }
}
