table{
	box-sizing: border-box;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
  th{
  	font-weight: bold;
  	padding: 15px;
  	text-align: center;
  	border: 1px solid #ddd;
  }
  tr, td{
  	padding: 15px;
  	border: 1px solid #ddd;
  }
}


.table-striped tr:nth-child(2n+2){
	background-color: #F5F5DC;
}
.table-selected{
	background-color: #555;
	color: white;
}
.table-hover td:hover{
	background-color: #C0C0C0;
	color: black
}
