$brand-default: #999999;
$brand-default-active: #808080;

$brand-primary: #1E90FF;
$brand-primary-active:#337ab7;

/*
$brand-secondary: ;
$brand-secondary-active: ;
*/

$brand-success: #5cb85c;
/*$brand-success-active: ;
*/

$brand-info:    #5bc0de;
/*$brand-info-active:    ;*/

$brand-warning: #f0ad4e;
/*$brand-warning-active: ;*/
       ;
$brand-danger:  #d9534f;
/*$brand-danger-active:  ;

$brand-link: ;
$brand-link-active: ;

$brand-lg: ;
$brand-lg-active: ;
*/
